<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <meta name="google-signin-client_id" content="796638735067-sg1fgn33hrh4pb2ia9fkeu383hj4rs4t.apps.googleusercontent.com"> -->
    <meta name="google-signin-client_id" content="796638735067-g3ugg41q5jera9buso0mpvp8nnvjdkd5.apps.googleusercontent.com">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>BukuBerkah</title>
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  </body>
</html>
